body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/cmatrix\ wea.png');
    margin: 0;
    color: #ffffff;
}

.container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 350px;
}

.password-box {
    font-size: 1.2em;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-box input {
    width: 100%;
    border: none;
    background: none;
    font-size: inherit;
    outline: none;
    color: #ffffff;
}

.password-box .copy-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #ffffff;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls label {
    margin: 0;
}

.slider-container {
    display: flex;
    align-items: center;
}

.slider-container input[type="range"] {
    flex-grow: 1;
}

.slider-value {
    margin-left: 10px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group input {
    margin-right: 5px;
}

.generate-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.generate-button:hover {
    background-color: #c9302c;
}

.password-box .copy-icon:hover {
    color: #4caf50;
}